.place__title {
    width: 460px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 5.63vw;
    line-height: 106%;
    /* or 106% */
    color: #ffffff;
    margin-bottom: 48px;
    margin-top: 0;
    margin-right: 32px;
  }
  
  @media screen and (max-width: 1024px) {
    .place__title {
      font-size: 7.03vw;
      max-width: 440px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .place__title {
      font-size: 5.47vw;
      max-width: 340px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .place__title {
      font-size: 10vw;
      min-height: 35px;
      margin-bottom: 32px;
  
    }
  }
  