.page {
  background-color: #2a2c2f;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 28px 48px 24px 48px;
  box-sizing: border-box; 
}

@media screen and (max-width: 1024px) {
  .page {
    padding: 28px 0 24px 0;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding: 28px 0 24px 0;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 16px 0 24px 0;
  }
}