.place__image {
    max-width: 35.94vw;
    margin-right: 32px;
  }
  
  @media screen and (max-width: 1024px) {
    .place__image {
      max-width: 42.77vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .place__image {
      max-width: 338px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .place__image {
      max-width: 318px;
      margin-bottom: 32px;
    }
  }
  
  