.cover__subtitle {
    position: relative;
    /* max-width: 360px;
    min-height: 66px; */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    text-decoration-line: none;
    margin: 32px 412px 0 412px;
    /* конкретное значение  + media*/
    pointer-events: none;
    /* не реагировать на события мыши */
  }
  @media screen and (max-width: 1024px) {
    .cover__subtitle {
      max-width: 280px;
      font-size: 1.76vw;
      margin: 16px 16px 33px 16px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .cover__subtitle {
      max-width: 280px;
      font-size: 2.34vw;
      height: 152px;
      margin: 16px 16px 33px 16px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .cover__subtitle {
      max-width: 280px;
      font-size: 5.63vw;
      margin: 16px 16px 33px 16px;
    }
  }
  