.cover__subtitle {
    max-width: 360px;
    min-height: 66px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    text-decoration-line: none;
    margin: 0;
    padding-top: 32px;
  }

  @media screen and (max-width: 512px) {
    .cover__subtitle {
      max-width: 275px;
      min-height: 48px;
      font-size: 14px;
      padding-top: 16px;
    }
  } 
  
  