.lead__title {
    max-width: 720px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    padding-bottom: 32px;
  }
  
  @media screen and (max-width: 768px) {
    .lead__title {
      font-size: 12.5vw;
      line-height: 13.75vw;
    }
  }
  
  @media screen and (max-width: 320px) {
    .lead__title {
      font-size: 12.5vw;
      line-height: 13.75vw;
      padding-bottom: 16px;
    }
  }
  