.place__paragraph {
    font-family: "Inter";
    max-width: 35.47vw;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /* font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 14) + 14px)*/
    line-height: 163%;
    /* or 29px */
    color: #ffffff;
    margin: 0 auto;
    padding-bottom: 26px;
  
  }
  
  @media screen and (max-width: 1024px) {
    .place__paragraph {
      font-size: 1.76vw;
  
    }
  }
  
  @media screen and (max-width: 768px) {
    .place__paragraph {
      font-size: 2.08vw;
  
    }
  }
  
  
  @media screen and (max-width: 320px) {
    .place__paragraph {
      font-size: 5vw;
      max-width: 288px;
  
    }
  }
  
  