.cover {
    position: relative;
    /* max-width: 1184px;
    min-height: 740px; */
    /*  width: 100%; */
    margin: 0 auto;
    aspect-ratio: 320 / 200;
    /* 1000 / 625 */
  
  }
  
  @media screen and (max-width: 1024px) {
    .cover {
      /*width: 1024px;*/
      margin-left: 0;
    }
  }
  