
.place {
    display: grid;
    max-width: 984px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(460px));
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 80px;
    
    /*display: flex;
    /*flex-basis: auto;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 80px;
    /* justify-content:flex-start; */
    /*max-width: 984px;*/
  }

  .place:last-child {
    padding-bottom: 0;
  }

  @media screen and (max-width: 768px) {
    .place {
      padding-bottom: 73px;
    }
  }

  @media screen and (max-width: 650px) {
    .place {
      display: flex;
      flex-direction: column;
      flex-direction: column;
      flex-basis: auto;
      align-items: flex-start;
      flex-wrap: wrap;
      
      
    }
  }
  

  @media screen and (max-width: 320px) {
    .place {
      padding-bottom: 50px;
      
    }
  }
  