.footer {
    max-width: 1184px;
    min-height: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 92px;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 1024px) {
    .footer {
      max-width: 928px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      max-width: 720px;
      padding-top: 90px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .footer {
      max-width: 186px;
      margin-left: 16px;
      padding-top: 64px;
    }
  }