.place__url-heading {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    /* identical to box height, or 100% */
    letter-spacing: 0.2em;
    color: #aaaaaa;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 12px;
  }


  
  
  