.intro__title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    color: #ffffff;
  }
  
  
  @media screen and (max-width: 320px) {
    .intro__title {
      font-size: 32px;
      line-height: 109%;
  
    }
  }